html, body
  margin: 0
  padding: 0
  background: rgb(228, 231, 238)
  font-family: "Ruda", sans-serif
  color: rgba(0, 0, 0, 0.7)

header
  background: rgb(20, 44, 80)
  height: 100px
  width: 100%
  margin: 0
  div
    width: 86vw
    margin: 0 auto
    padding-top: 18px
    h1
      color: white
      margin: 0
      line-height: 1em
      font-size: 1.3em
      font-family: "Patua One"
      font-weight: 400

section.main
  background: white
  width: 90vw
  height: 88vh
  margin: 0 auto
  position: relative
  top: -40px
  border-radius: 3px
  overflow-x: auto
  table
    width: 100%
    min-width: 600px
    margin: 0 auto
    font-size: 0.9em
    border-collapse: collapse
    tr
      border-bottom: 1px solid rgb(241, 243, 255)
    th
      padding: 1.2em 0.4em 1em 0.4em
      text-align: left
      border-bottom: 2px solid rgb(241, 243, 255)
      text-transform: uppercase
      font-size: 0.85em
      color: black
    th:last-child
      text-align: right
    th:first-child,
    td:first-child
      padding-left: 1.5em
    th:last-child,
    td:last-child
      padding-right: 1.5em
    td
      padding: 1.2em 0.4em
    a.suggest
      font-size: 0.75em
      text-decoration: none
      padding: 1.5em 0
