html, body
  margin: 0
  padding: 0
  background: rgb(228, 231, 238)
  font-family: "Ruda", sans-serif
  color: rgba(0, 0, 0, 0.7)
  overflow: hidden

header
  background: rgb(20, 44, 80)
  height: 100px
  width: 100%
  margin: 0
  div
    width: 86vw
    margin: 0 auto
    padding-top: 18px
    h1
      color: white
      margin: 0
      line-height: 1em
      font-size: 1.3em
      font-family: "Patua One"
      font-weight: 400

section.main
  background: white
  width: 90vw
  height: 88vh
  margin: 0 auto
  position: relative
  top: -40px
  border-radius: 3px
  overflow-x: auto
  table
    width: 100%
    min-width: 600px
    margin: 0 auto
    font-size: 0.9em
    border-collapse: collapse
    th
      position: sticky
      top: 0
      background: white
      border-radius: 3px
      padding: 1.2em 0.2em 1em 1em
      text-align: left
      text-transform: uppercase
      font-size: 0.85em
      color: black
      cursor: pointer
      z-index: 500
    th:hover
      background: rgb(241, 243, 255)
    th:after
      content: ''
      position: absolute
      left: 0
      right: 0
      bottom: 0
      border-bottom: 2px solid rgb(241, 243, 255)
    th:last-child
      text-align: right
    th:first-child,
    td:first-child
      padding-left: 1.5em
    th:last-child,
    td:last-child
      padding-right: 1.5em
    tbody tr
      border-bottom: 1px solid rgb(241, 243, 255)
    td
      padding: 1.2em 0.2em 1.2em 1em
    a.suggest
      font-size: 0.75em
      text-decoration: none
      padding: 1.5em 0

* > div.tooltip
  display: none
  position: absolute
  width: 35vw
  min-width: 250px
  background: rgb(248, 249, 255)
  border-radius: 2px
  border: 1px solid rgb(202, 206, 228)
  padding: 1.5em
  z-index: 1000
  margin-top: 26px
  margin-left: -100px
  font-weight: normal
  text-transform: none
  font-size: 1.1em
  line-height: 1.6em
*:hover > div.tooltip
  display: block
  transform: scale(0.999)
